.button {
  background-color: rgb(255, 255, 255);
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 10px 16px;
  cursor: pointer;
  width: 450px;
  height: 68px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #979797;
  margin-bottom: 10px;
}

.button > .space > .caret-down {
  transform: rotate(90deg);
}

.custom-menu-items {
  padding: 4px 7px;
  border-radius: 4px;
  background-color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth hover transition */
}
.ant-menu-item-selected {
  background-color: #ffffff !important;
}
